<nav class="navbar">
  <div class="navbar-brand">SMART TRANSPORT</div>
  <div class="navbar-nav">
    <a routerLink="/map" routerLinkActive="active" class="nav-link">Mapa</a>
    <a routerLink="/areas-and-goals" routerLinkActive="active" class="nav-link"
      >Obszary i cele</a
    >
    <a routerLink="/bus-stops" routerLinkActive="active" class="nav-link"
      >Przystanki</a
    >
    <a routerLink="/bus-lines" routerLinkActive="active" class="nav-link"
      >Linie autobusowe</a
    >
    <a routerLink="/destinations" routerLinkActive="active" class="nav-link"
      >Cele podróży</a
    >
  </div>
</nav>
