/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* bus-stop-icon reset (leaflet adds default styles to divIcons) */
.bus-stop-icon {
  background: none !important;
  border: none !important;
}
